.products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-block {
  background-color: rgba(0, 0, 0, 0.685);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav-block .profile-icon {
  cursor: pointer;
}

.nav-block .search-block {
  margin-left: 3%;
}

.nav-block .shop-icon {
  position: fixed;
  top: 0;
  right: 20px;
}

.nav-block li {
  list-style-type: none;
  cursor: pointer;
  margin-left: 85px;
}

.nav-block .search-input {
  background-color: #fff;
}

.nav-block .icon-block {
  margin-left: 2%;
  background-color: #fff;
  border-radius: 25%;
  height: 30px;
  width: 30px;
}

.nav-block .icon-block .apple-icon {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

.filtered-products {
  margin-top: 7%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination Button {
  margin-right: 1%;
}

.preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

.iphone13pro-block {
  width: 100%;
  height: 100%;
}

.iphone13pro-block h3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.iphone13pro-block h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
}

.iphone13pro-block h4 {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.iphone13pro-block .img-iphone13pro {
  width: 100%;
  height: 100%;
}

.iphone13pro-block .img-iphone13pro img {
  width: 100%;
  height: 70%;
}

.otstup {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.685);
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

.content .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 18%;
}

.func-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fav-icon {
  margin-left: 100px;
}

.table-fav {
  margin-top: 10%;
}
/*# sourceMappingURL=Style.css.map */